<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%= stylesheet_link_tag "events", media: "all", "data-turbo-track" => "reload" %>
  
 </head>
<body>
 <header>
        <div class="header-container">
            <div class="logo-container" onclick="clickLogoContainer()">
                <%= image_tag("events-pic.png",{:style => "height:35px;width:35px;margin-right:5px;" }) %>
                <p class="logo-head"> Event</p>
            </div>
            <div class="manage-event">
                <a class="signup-text" href="/">All Events</a>
            </div>
            <% if cookies[:user_id] %>
                <button id="signup" class="button">Logout</button>
            <% else %>
                <% controller.redirect_to "/login" %> 
            <% end %>
        </div>
    </header>
    <div>
       <h1 class="my-event-heading">My Events</h1>
         <div id="myevents-container" class="myevents-container">
         <% if @events.length == 0 %>
            <h3>No events are added</h3>
            <p>Check all events <a href="/">here</a>
         <% else %>
          <% @events.each do |event| %>
            <div class="myevent-card-container">
            <div>
                    <img src=<%= event.location_url %> class="myevent-image"/>
                    </div>
                <div class="myevent-header" id="event-header">
                        <h3 class="event-name"><%= event.event_name %></h3>
                    <div>
                        <p>Event Category: <%= event.category %></p>
                       
                    </div>
                    <div class="icon-container">
                        <i class="fa-solid fa-calendar fa-sm"></i>
                        <p><%= event.start_date %> to <%= event.end_date %></p>
                    </div>
                    <div class="icon-container">
                        <i class="fa-solid fa-location-dot fa-sm"></i>
                        <p><%= event.location %></p>
                    </div>
                    <div class="icon-container">
                        <i class="fa-solid fa-wallet fa-sm"></i>
                        <p>$<%= event.entry_fee %></p>
                    </div>
                    <button onclick="removeEvent(event, <%= event.id %>,<%= cookies[:user_id] %>)" class="button remove-button">Remove</button>
                </div> 
            </div>
         <% end %>
         <% end %>
        
        </div>
    </div>
      <%= javascript_include_tag "myevents", "data-turbo-track" => "reload" %>
     <script src="https://kit.fontawesome.com/32c85e0eb8.js" crossorigin="anonymous"></script>
</body>
</html>